{% extends 'layout.html' %}

{% block body %}

<h3>Hakkımda</h3>
<hr>
<div class ="jumbotron text-center">
    Dört yıllık lise eğitim dönemi boyunca Payas Mesleki ve Teknik Anadolu Lisesi'nin Elektrik Elektronik bölümünde eğitim aldım ve Endüstriyel Bakım Onarım dalından mezun oldum. Bu süre zarfında 10. ve 12. Sınıfta 1'er ay olmak üzere 2 aylık staj yaptım. Şuan Marmara Üniversitesi Elektronik Haberleşme Teknolojisi dalında öğrenim görmekteyim. Boş zamanlarımda daha çok Python geliştirme dili olmak üzere kendimi yazılım alanında geliştiriyorum.
</div>
{% endblock body %}